<template name="App_Not_Found">

  <div class="image">
    <div class="ui centered two row grid container">
      <div class="floated-left row">
        <h1>Oops!</h1>
      </div>
      <div class="folated-right row" style="color: red ; text-align:right"><h2>The Page is not found. Click <a
          href="user-home">here</a> to home page.</h2>
      </div>
    </div>
  </div>

  <style>
    body{
      background: url('images/404.jpg');
      background-size: 100% 100%;

    }
  </style>

</template>